  body {
        background-color: black;
        text-align: center
        
}
    h1 {
    color: white;
    font-family: monospace;
}
    h3 {
    color: white;
    font-family: monospace;

}
    p {
    color: white;
    font-family: monospace;

}

    li {
        color: white;
        font-family: monospace;
        font-size: 150%
}